ul li:hover{

      color: #00f7ff;
}

/* style for mobile and teblet devices */
@media only screen and (max-width: 767px) {

       ul li{

            padding: 0.5rem 0;
       }
       ul li:hover{

            background-color: #095e64;
            color: #01f7ff;

       }
       ul li:last-child{

        padding-bottom: 1rem;
   }
}